<html>
    <head>
        <title>Todo list</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

<body>
<form action="/" method="post">
    <label>quel est votre nom ? </label>
    <input type="text" name="myname">
    <input type="submit" value="envoyer">
</form>
</body>
</html>