<html>
<head>
    <title>Todo list</title>
    <link rel="stylesheet" href=""">
</head>

<body>
    <form method="get" action='/todo/new'>
    <input type="text" name="todoItem">
    <input type="submit" value="sauver">
    
    </form>
</body>

</html>